{% extends "login_or_register.html" %}
{% load i18n helpers_tags %}
{% block title %}{% trans "Hello, dear!" %}{% endblock %}
{% block head-extra %}{{ form.media }}{% endblock %}
{% block content %}
<div class="login_page">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% render_form form %}
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Go!" />
    </form>
    <div class="or_maybe">
        {% trans "Back to" %} <a href="/">{% trans "main" %}</a> {% trans "or maybe" %} <a href="{% url 'signup' %}">{% trans "resiter" %}</a>?
    </div>
</div>
{% endblock %}
