.messages {
  margin: 0  0 10px 0;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.messages.success {
  background-color: #00a700;
}
.messages.info {
  background-color: #b789e2;
}
.messages.warning {
  background-color: #ffa700;
}
.messages.error {
  background-color: red;
}
