html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
  background-color: white;
}
a {
	color: #00009C;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
  color: #cc0000;
}
a:visited {
  color: #00009C;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	/*height: 30px;*/
  /*padding-top: 5px;*/
	/*background: #FFE680;*/
  /*text-align: center;*/
}
  /*#header input[type="text"] {*/
    /*width: 360px;*/
  /*}*/
  /*#header input {*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
  /*}*/
  .logout_div {
    height: 20px;
    text-align-right;
  }
    .logout_div a {
      color: #CC0000;
    }
    .logout_div a:hover {
      color: #00009C;
    }

.abs_wrapper {
  position: absolute;
}
  .abs_wrapper .rel_wrapper {
    position: relative;
  }

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 30px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 200px;
}
  .content_inner {
    width: 600px;  
  }
  /* Форма добавления ссылки */
  .add_form_wrapper {
    margin-bottom: 30px;
  }
  .form_submit_wrapper {
    position: absolute;
  }
    .form_submit_wrapper_inner {
      position: relative;
    }
  #id_href {
    width: 100%;
  }
  #id_href_submit_wrapper {
    top: -28px;
    left: 630px;
  }
  /* Форма поиска и выбор отображения */
  .search_form_wrapper {
    margin-bottom: 30px;
    text-align: right;
  }
    #view_mode_wrapper {
      top: 3px;
      font-size: 14px;
    }
  /* breadcrumbs */
  .breadcrumbs {
    font-size: 16px;
    margin-bottom: 20px;
  }
    .breadcrumbs ul {
    }
      .breadcrumbs li {
        display: inline;
        margin: 0 10px 0 0;
      }
        .breadcrumbs a {
          background: url(/s/img/next.png) 100% 50% no-repeat;
          padding-right: 16px;
        }
        .breadcrumbs span {
          font-weight: bold;
        }
  /* Pagination */ 
  .pagination {
    margin: 0 0 15px 0; 
    font-size: 14px;
  }
    .pagination .prev {
      margin-right: 15px;
      font-size: 18px;
    }
    .pagination .next {
      margin-left: 15px;
      font-size: 18px;
    }
    .pagination a.page {
    }
    .pagination span.current.page {
      padding: 3px;
      border: 1px solid #CC0000; 
    }
  /* Контейнер со списком ссылок */
  .link_wrapper {
    margin-bottom: 15px;
  }
  /* Отображение mini */
  .link_wrapper.mini {
  }
    .link_wrapper.mini ul {
    }
      .link_wrapper.mini li {
        margin: 10px 0;
      }
        .link_wrapper.mini .rel_wrapper {
          right: 20px;
          top: 1px;
        }
        .link_wrapper.mini a {
        }

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 150px;
  padding: 0 15px;
	margin-left: -100%;
	position: relative;
  text-align: right;
	/*background: #B5E3FF;*/
}
  .sidebar_username {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .sidebar_gravatar {
    margin-bottom: 20px;
  }
  .sidebar_tags_title {
    position: relative;
    left: 5px;
    margin: 0 0 15px 30px;
    padding: 0 5px 5px 0;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid black;
  }
  .sidebar_tags {
    color: #00009C;
    line-height: 2;
  }
    .sidebar_tags li {
      cursor: pointer;
    }
    .sidebar_tags li:hover {
      color: #CC0000;
    }
    .sidebar_tags .ui-selected {
      display: inline;
      position: relative;
      left: 5px;
      padding: 5px;
      color: white;
      font-weight: bold;
      background: #00009C;
    }


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 960px;
	margin: -30px auto 0;
  padding: 5px;
	height: 30px;
	/*background: #BFF08E;*/
  text-align: center;
}
  #footer ul {
    margin-left: 286px;
  }
  #footer li {
    float: left;
    margin-right: 20px;
    font-size: 15px;
  }
  #footer a {
    color: #CC0000;
  }
  #footer a:hover {
    color: #c01da3;
  }
/* --- About left sidebar --- */
.about_left {

}
  .about_left dt {
    margin-bottom: 10px;
    color: #cc0000;
    font-size: 14px;
  }
  .about_left dd {
    margin-bottom: 20px;
    font-size: 13px;
  }
