html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
  background-color: white;
}
a {
	color: blue;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
  color: #cc0000;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 30px;
  padding-top: 5px;
	/*background: #FFE680;*/
  text-align: center;
}
  #header input[type="text"] {
    width: 360px;
  }
  #header input {
    margin-left: 5px;
    margin-right: 5px;
  }

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 30px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 15px 15px 0 270px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 220px;
  padding: 15px;
	margin-left: -100%;
	position: relative;
  text-align: right;
	/*background: #B5E3FF;*/
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 800px;
	margin: -30px auto 0;
  padding: 5px;
	height: 30px;
	/*background: #BFF08E;*/
  text-align: center;
}
  #footer ul {
    margin-left: 286px;
  }
  #footer li {
    float: left;
    margin-right: 20px;
    font-size: 15px;
  }
  #footer a {
    color: #CC0000;
  }
  #footer a:hover {
    color: #c01da3;
  }
/* --- About left sidebar --- */
.about_left {

}
  .about_left dt {
    margin-bottom: 10px;
    color: #cc0000;
    font-size: 14px;
  }
  .about_left dd {
    margin-bottom: 20px;
    font-size: 13px;
  }
