{# snippet for generic form #}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
{{ form.non_field_errors }}
{% for field in form.visible_fields %}
    <div class="field_wrapper">
        <div class="label_wrapper">
          {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
          {% if field.help_text %}<span class="helptext">&laquo;{{ field.help_text }}&raquo;</span>{% endif %}
        </div>
        {{ field }}
        {{ field.errors }}
    </div>
{% endfor %}
