{% extends "index2.html" %}
{% load i18n helpers_tags %}
{% block title %}{% trans "Bookmarklets" %}{% endblock %}
{% block head-init-search %}{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <h1 class="large">{% trans "Bookmarklets" %}</h1>
    <article>{% blocktrans with domain=current_site.domain %}
       Use bookmarklets to fast add links to your bank.<br>
       Just drug this to you bookmark toolbar.<br>
       <a href="javascript:var l=location.href;location.href='http://{{ domain }}/add/?href='+l">Only link</a><br>
       <a href="javascript:var l=location.href;location.href='http://{{ domain }}/add/?href='+l+'&title='+document.title">Link and title</a><br>
    {% endblocktrans %}</article>
{% endblock %}
