<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load webdesign i18n media %}
	<meta charset="utf-8" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>{% block title %}{% trans "Put link to bank!" %}{% endblock %}</title>
	<meta name="title" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    {% block head-css %} {% include_media "main.css" %} {% endblock %}
    {% block head-js %} {% include_media "main.js" %} {% endblock %}
    {% block head-extra %}{% endblock %}
</head>

<body>
{% block body %}
<div id="wrapper">

	<header id="header">
    {% block header %}
        {% if not user.is_anonymous %}
            <form action="{% url bank.views.link_create %}">
                <label>{% trans "Add link" %} {{ form.href }}</label><input type="submit" value="Add this!" />
            </form>
        {% endif %}
    {% endblock %}
	</header><!-- #header-->

	<section id="middle">

		<div id="container">
			<div id="content">
                {% block messages %}
                    {% for message in messages %}                                   
                    <div class="messages {{ message.tags }}">                        
                        {{ message }}                                       
                    </div>                                                          
                    {% endfor %}                                                    
                {% endblock %}
                {% block content %}
                    {% lorem 10 p %}
                {% endblock %}
			</div><!-- #content-->
		</div><!-- #container-->

		<aside id="sideLeft">
            {% block sidebar %}
                {% include "_about_small.html" %}
            {% endblock %}
		</aside><!-- #sideLeft -->

	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
{% block footer %}
    <ul class="footer_links">
	    <li><a href="/">{% trans "Your links" %}</a></li>
	    <li><a href="/bookmarklets">{% trans "Bookmarklets" %}</a></li>
	    <li><a href="/about">{% trans "About" %}</a></li>
    </ul>
{% endblock %}
</footer><!-- #footer -->
{% endblock %}
</body>
</html>
