{% load pagination_tags media i18n helpers_tags %}
{% autopaginate links PER_PAGE %}
{% with user.get_profile as profile %}
  {% for l in links %}
    {% with l.instance|default:l as l %}
      <article>
        <header style="background:url(http://favicon.yandex.ru/favicon/{{ l.domain }}/) 0 2px no-repeat;">
          <a href="{{ l.href }}">{{ l.title|default:l.href }} </a>
        </header>
        {{ l.description|link_body }}
        <ul>
          <li><a href="{% url edit l.pk %}">{% trans "edit" %}</a></li>
          <li><a href="{% url delete l.pk %}">{% trans "delete" %}</a></li>
          {% if profile.show_qr %}
              <li><a href="{% url give_me_qr_code l.pk %}">{% trans "qr code" %}</a></li>
          {% endif %}
        </ul>
      </article>
    {% endwith %}
    {% if forloop.last %}
      <section class="batch_edit">
        <a href="{% url delete_many %}">{% trans "batch delete" %}</a>
      </section>
      <section class="pagination">
        {% paginate %}
      </section>
    {% endif %}
  {% empty %}
    <article><header>{% trans "Can't find any bookmarks" %}</header></article>
  {% endfor %}
{% endwith %}
