{% extends "index2.html" %}
{% load i18n helpers_tags %}
{% block title %}{% trans "Settings" %}{% endblock %}
{% block head-init-search %}{% endblock %}
{% block search %}{% endblock %}
{% block content %}

<h2>{% trans "Change site settings" %}</h2>

<form class="settings_form" action="{% url settings %}" method="POST">{% csrf_token %}
    {% render_form profile_form %}
    <input type="submit" name="settings_form" value="{% trans "Save settings" %}"> 
</form>

<br/>

{% if import_tasks %}
    <h2>{% trans "Your import tasks" %}</h2>
    <table class="import_tasks_table">
        {% for t in import_tasks %}
        <tr>
            <td>
               {{ t.added }} 
            </td>
            <td>
               {{ t.get_from_source_display }} 
            </td>
            <td>
               {{ t.get_status_display }} 
            </td>
        </tr>
        {% endfor %}
    </table>
    <br/>
{% endif %}

<h2>{% trans "Import bookmarks from other sources" %}</h2>
<form class="settings_form" action="{% url settings %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form import_form %}
    <input type="submit" name="import_form" value="{% trans "Upload" %}" /> 
</form>
{% endblock %}
