@import "base";
@import "forms";

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	padding: 32px 48px 84px;
	margin: 0 auto;
	background: white;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

nav {
  margin: 0 0 20px 0;
  padding: 10px;
  overflow: auto;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  ul {
    list-style: none;
  }
  li {
    float: left;
    margin-right: 30px;
  }
  li.last {
    float: right;
  }
  a {
    color: #eaeaea;
    font-size: 24px;
    text-decoration: none;
    &:hover {
      color: #fcd3a5;
      text-decoration: underline;
    }
    &.current {
      color: white;
      font-size: 28px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

section {
  margin: 0 0 20px 0;
  input {
    width: 99%;
    font-size: 24px;
  }
}

section.info_messages {
  div {
    border-left: 5px solid;
    font-size: 30px;
    padding: 3px 0 0 10px;
  }
  .success {
    color: green;
  }
  .warning {
    color: #FAA51A;
  }
  .error {
    color: red;
  }
  .info {
    color: blue;
  }
}

article {
  margin: 0 0 40px 0;
  header {
    font-size: 20px;
    line-height: 20px;
    padding-left: 25px;
  }
  aside {
      float: right;
  }
  p {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 5px 10px 0 25px;
  }
  ul {
    list-style: none;
    overflow: auto;
    margin-left: 25px;
    li {
      margin-right: 20px;
      float: left;
    }
    a, a:visited {
      border-bottom: 1px dotted;
      color: #666;
      font-size: 14px;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 1px solid white;
      text-decoration: none;
    }
  }
}

section.pagination {
  font-family: sans-serif;
  font-size: 20px;
  a {
    background: white;
    color: #000;
  }
  a, span {
    padding: 9px 15px;
    text-decoration: none;
  }
  span.current {
    background: #B2B2B2;
    color: white;
  }
  .prev, .next {
    background: #000;
    color: white;
  }
  span.disabled {
    background: #B2B2B2;
  }
  .prev:hover, .next:hover {
    background: #B2B2B2;
  }
}

footer {
}

/* Страница добавления закладки */ 
.extended_add_form {
  .text, .textarea {
    width: 450px; 
  }
}
.extended_add_form_wrapper {
  width: 550px;
  margin: 0 auto;
}
/* Попап */
@import "compass/css3";
.popup {
  @include box-shadow;
  background: white;
  padding: 20px;
  .text, .textarea {
    width: 400px;
  }
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 48px 28px 60px;
	}

  nav {
    li {
      margin-right: 20px;
    }
    a {
      font-size: 20px;
      &.current {
	      font-size: 24px;
      }
    }
  }

}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding: 48px 34px 60px;
	}
  article {
    aside {
      display: none;
    }		
  }
/* Страница добавления закладки */ 
.extended_add_form {
  .text, .textarea {
    width: 250px; 
  }
}
.extended_add_form_wrapper {
  width: 280px;
  margin: 0 auto;
}

}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}

  nav {
    li {
      float: none;
      margin-right: 20px;
      margin-bottom: 20px;
      &.last {
        margin-bottom: 0;
      }
    }
    a {
      font-size: 20px;
      &.current {
	      font-size: 24px;
      } 
    }
  
  }
  article {
    aside {
      display: none;
    }		
  }		

/* Страница добавления закладки */ 
.extended_add_form {
  .text, .textarea {
    width: 400px; 
  }
}
.extended_add_form_wrapper {
  width: 500px;
  margin: 0 auto;
}

}

