{# link list snippet #}
{% load i18n pagination_tags bank_tags helpers_tags %}
<div class="breadcrumbs">
  <ul>
    <li><a title="{% trans "All links" %}" href="#">{% trans "Links" %}</a></li>
    {% if tags %}
    <li>
    {% for t in tags %}
        <a rel="{{ t.pk }}" class="tag tag_{{ t.pk }}" href="#">&laquo;{{ t.title }}&raquo;</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </li>
    {% endif %}
    {% if query %}
    <li><span>&laquo;{{ query }}&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% if paginate_fake %}
    {% autopaginate fake_qs PER_PAGE %}
{% else %}
    {% autopaginate links PER_PAGE %}
{% endif %}
<style type="text/css">
    .faviconed {
        background: url(http://favicon.yandex.ru/favicon/{% for l in links %}{{ l.domain }}/{% endfor %}) 0 0 no-repeat;
    }
    {% for l in links %}
    {% if l.href %}
    .fav_{{ forloop.counter }} {
        background-position: 0 -{{ forloop.counter0|multiple:16 }}px;
    }
    {% endif %}
    {% endfor %}
</style>
<div class="link_wrapper">
  <ul>
  {% for l in links %}
  {% if l.href %}
      <li>
        <div class="abs_wrapper"><div class="rel_wrapper fav_wrapper faviconed fav_{{ forloop.counter }}">&nbsp;</div></div>
        {% with l.title|default:l.href as href_title %}
          <a class="bookmarks" href="{{ l.href }}" title="{{ l.href }}" id="bookmark_{{ l.pk }}">
          {{ href_title|slice:":75" }}{% if href_title|length > 75 %}...{% endif %}
          </a>
          <div class="description">
            {{ l.description|linebreaksbr }}
          </div>
          <div class="tags">
            {% tags l %}
          </div>
            <span class="work_links">
                <a title="{% trans "Edit this bookmark" %}"
                   class="work_link edit_bookmark" href="{% url bank.views.link_edit l.pk %}"
                   id="edit_bookmark_{{ l.pk }}">{% trans "edit" %}</a>
                <a title="{% trans "Delete this link" %}"
                   class="work_link del_bookmark" href="{% url bank.views.link_delete l.pk %}"
                   id="del_bookmark_{{ l.pk }}">{% trans "delete" %}</a>
            </span>
        {% endwith %}
      </li>
  {% endif %}
  {% empty %}
    <h4>{% trans "Empty result" %}</h4>
  {% endfor %}
  </ul>
</div>
{% paginate %}
