{# link list snippet #}
{% load i18n pagination_tags helpers_tags %}
{% autopaginate links PER_PAGE %}
<style type="text/css">
{% if djapian_use %}
    .faviconed {
        background: url(http://favicon.yandex.ru/favicon/{% for l in links %}{{ l.instance.domain }}/{% endfor %}) 0 0 no-repeat;
    }
    {% for l in links %}{% if l.instance.href %}
    .fav_{{ forloop.counter }} {
        background-position: 0 -{{ forloop.counter0|multiple:16 }}px;
    }
    {% endif %}{% endfor %}
{% else %}
    .faviconed {
        background: url(http://favicon.yandex.ru/favicon/{% for l in links %}{{ l.domain }}/{% endfor %}) 0 0 no-repeat;
    }
    {% for l in links %}{% if l.href %}
    .fav_{{ forloop.counter }} {
        background-position: 0 -{{ forloop.counter0|multiple:16 }}px;
    }
    {% endif %}{% endfor %}
{% endif %}
</style>
<div class="link_wrapper">
  <ul>
  {% if djapian_use %}
      {% for l in links %}
      {% if l.instance.href %}
          <li>
            <div class="abs_wrapper"><div class="rel_wrapper fav_wrapper faviconed fav_{{ forloop.counter }}">&nbsp;</div></div>
            {% with l.instance.title|default:l.instance.href as href_title %}
              <a class="bookmarks" href="{{ l.instance.href }}" title="{{ l.instance.href }}" id="bookmark_{{ l.instance.pk }}">
              {{ href_title|slice:":75" }}{% if href_title|length > 75 %}...{% endif %}
              </a>
              <div class="description">
                {{ l.instance.description|linebreaksbr }}
              </div>
              <span class="work_links">
                <a title="{% trans "Edit this bookmark" %}"
                   class="work_link edit_bookmark" href="{% url bank.views.link_edit l.instance.pk %}"
                   id="edit_bookmark_{{ l.pk }}">{% trans "edit" %}</a>
                <a title="{% trans "Delete this link" %}"
                   class="work_link del_bookmark" href="{% url bank.views.link_delete l.instance.pk %}"
                   id="del_bookmark_{{ l.instance.pk }}">{% trans "delete" %}</a>
              </span>
            {% endwith %}
          </li>
      {% endif %}
      {% empty %}
        <h4>{% trans "Empty result" %}</h4>
      {% endfor %}
  {% else %}
      {% for l in links %}
      {% if l.href %}
          <li>
            <div class="abs_wrapper"><div class="rel_wrapper fav_wrapper faviconed fav_{{ forloop.counter }}">&nbsp;</div></div>
            {% with l.title|default:l.href as href_title %}
              <a class="bookmarks" href="{{ l.href }}" title="{{ l.href }}" id="bookmark_{{ l.pk }}">
              {{ href_title|slice:":75" }}{% if href_title|length > 75 %}...{% endif %}
              </a>
              <div class="description">
                {{ l.description|linebreaksbr }}
              </div>
              <span class="work_links">
                <a title="{% trans "Edit this bookmark" %}"
                   class="work_link edit_bookmark" href="{% url bank.views.link_edit l.pk %}"
                   id="edit_bookmark_{{ l.pk }}">{% trans "edit" %}</a>
                <a title="{% trans "Delete this link" %}"
                   class="work_link del_bookmark" href="{% url bank.views.link_delete l.pk %}"
                   id="del_bookmark_{{ l.pk }}">{% trans "delete" %}</a>
              </span>
            {% endwith %}
          </li>
      {% endif %}
      {% empty %}
        <h4>{% trans "Empty result" %}</h4>
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% paginate %}
