{% extends "index.html" %}

{% load media i18n helpers_tags webdesign pagination_tags gravatar %}

{% block title %}{% trans "Your links in bank!" %}{% endblock %}

{% block head-extra %}
{% include_media "my.js" %}
<script type="text/javascript">
$(function () {
    $("#id_href").placeholder({ initial:"{{ form.href.field.initial|escapejs }}" });
    $("#id_q").placeholder({ initial:"Поиск" });
    $(".edit_bookmark").bookmarks({ dialog_opts: { width: 430 } });
    $(".del_bookmark").bookmarks({ dialog_opts: { width: 430 } });
    $("#search_this").click(function () {
        // console.log($().parse_hash()); 
    });
});
</script>
{% endblock %}

{% block header %}
  <div class="logout_div">
    <a title="{% trans "Sign out from site" %}" href="{% url logout %}">выйти</a>
  </div>
{% endblock %}

{% block content %}
<div class="content_inner">
  <div class="add_form_wrapper">
    <form action="{% url bank.views.link_create %}">
      {{ form.href }}
      <div class="form_submit_wrapper">
        <div class="form_submit_wrapper_inner" id="id_href_submit_wrapper">
          <input value="Add this!" type="submit">
        </div>
      </div>
    </form>
  </div>
  <div class="search_form_wrapper">
    <div class="form_submit_wrapper">
      <div class="form_submit_wrapper_inner" id="view_mode_wrapper">
      {% trans "View mode:" %} 
      <select>
        <option>{% trans "minimum" %}</option>
        <option>{% trans "normal" %}</option>
        <option>{% trans "maxmimum" %}</option>
      </select>
      </div>
    </div>

    <input id="id_q" type="text" name="q" value="Поиск" />

    <div class="form_submit_wrapper">
      <div class="form_submit_wrapper_inner" id="id_href_submit_wrapper">
        <input value="Search this!" type="button" id="search_this">
      </div>
    </div>
  </div>

  <div id="main_container">
    {% include "bank/_list_ajax.html" %}
  </div>
</div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar_username">
    <a href="#" title="{% trans "Profile, settings, password change & etc" %}">{{ user.username }}</a>
  </div>
  {% comment %}
  <img class="sidebar_gravatar" title="{% trans "Your gravatar" %}" src="{% gravatar_for_user user 90 %}" />
  {% endcomment %}
  <h4 class="sidebar_tags_title">{% trans "Tags" %}</h4>
  <ul class="sidebar_tags">
    {% for t in user.tag_set.all %}
      <li>{{ t.title }} #{{ t.pk }}</li>
    {% empty %}
      <li>{% trans "You don't add any tags" %}</li>
    {% endfor %}
  </ul>
      {# <li class="ui-selected">Selected tag</li> #}

  <h4 class="sidebar_bookmarklets_title">{% trans "Bookmarklets" %}</h4>
  <ul class="sidebar_bookmarklets">
      <li>
          <span>{% trans "Only href" %}</span>
          <a title="{% trans "Drag this to your browser toolbar" %}"
             href="javascript:var l=location.href;location.href='http://{{ current_site.domain }}{% url bank.views.link_create %}?href='+l">
              {% trans "To bank" %}
          </a>
      </li>
      <li>
          <span>{% trans "Href & title" %}</span>
          <a title="{% trans "Drag this to your browser toolbar" %}"
             href="javascript:var l=location.href;location.href='http://{{ current_site.domain }}{% url bank.views.link_create %}?href='+l+'&title='+document.title">
              {% trans "To bank" %}
          </a>
      </li>
      <li>
          <a title="{% trans "About bookmarklets" %}" href="/bookmarklets">
            {% trans "About bookmarklets" %}
          </a>
      </li>
  </ul>
{% endblock %}

