html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

header, nav, section, article, aside, footer {
  display: block;
}

body {
  font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  background-color: white;
}

a {
  color: #00009c;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #cc0000;
}
a:visited {
  color: #00009c;
}

p {
  margin: 0 0 18px;
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

.js_link {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.js_link:hover {
  text-decoration: none;
  border-bottom: 1px dotted #cc0000;
  color: #cc0000;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Header
 *----------------------------------------------------------------------------- */
.logout_div {
  height: 20px;
}
.logout_div a {
  color: #cc0000;
}
.logout_div a:hover {
  color: #00009c;
}

.abs_wrapper {
  position: absolute;
}
.abs_wrapper .rel_wrapper {
  position: relative;
}

/* Middle
 *----------------------------------------------------------------------------- */
#middle {
  width: 100%;
  padding: 0 0 30px;
  height: 1%;
  position: relative;
}
#middle:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

#container {
  width: 100%;
  float: left;
  overflow: hidden;
}

#content {
  padding: 0 0 0 200px;
}

.content_inner {
  width: 600px;
}

/* Ссылка добавления */
.content_inner a.link_create_button {
  display: block;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  background: black;
  margin-bottom: 20px;
  color: white;
}
.content_inner a.link_create_button:hover {
  background: #eaeaea;
  color: #7c7c7c;
}

/* Форма поиска и выбор отображения */
.search_form_wrapper {
  margin-bottom: 30px;
  text-align: left;
}
.search_form_wrapper input#id_q {
  width: 100%;
  display: block;
}

/* breadcrumbs */
.breadcrumbs {
  font-size: 16px;
  margin-bottom: 20px;
}
.breadcrumbs li {
  display: inline;
  margin: 0 10px 0 0;
}
.breadcrumbs a {
  background: url(/s/img/next.png) 100% 50% no-repeat;
  padding-right: 16px;
}
.breadcrumbs span {
  font-weight: bold;
}

/* Pagination */
.pagination {
  margin: 0 0 15px 0;
  font-size: 14px;
}
.pagination .prev {
  margin-right: 15px;
  font-size: 18px;
}
.pagination .next {
  margin-left: 15px;
  font-size: 18px;
}
.pagination span.current.page {
  padding: 3px;
  border: 1px solid #cc0000;
}

/* Контейнер со списком ссылок */
.link_wrapper {
  margin-bottom: 15px;
}
.link_wrapper li {
  margin: 15px 0;
}
.link_wrapper .fav_wrapper {
  width: 16px;
  height: 16px;
  right: 16px;
  top: 0;
}
.link_wrapper .bookmarks {
  display: block;
  margin-left: 14px;
  font-size: 14px;
  text-decoration: underline;
}
.link_wrapper .bookmarks:hover {
  color: #cc0000;
}
.link_wrapper .description {
  margin-left: 14px;
  color: black;
  line-height: 1.3em;
  font-size: 12.8px;
}
.link_wrapper .description .added {
  color: #666666;
}
.link_wrapper .tags {
  float: left;
  margin-left: 14px;
}
.link_wrapper .tags a {
  margin-right: 5px;
  text-decoration: none;
}
.link_wrapper .tags a:hover {
  color: #cc0000;
  text-decoration: underline;
}

html body .work_link {
  margin-left: 15px;
  color: #666666;
  text-decoration: underline;
}
html body .work_link:hover {
  color: #cc0000;
  text-decoration: none;
}
html body .work_link:visited {
  color: #666666;
}

/* Sidebar Left
 *----------------------------------------------------------------------------- */
#sideLeft {
  float: left;
  width: 150px;
  padding: 0 15px;
  margin-left: -100%;
  position: relative;
  text-align: right;
  /*background: #B5E3FF; */
}

.sidebar_username {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.sidebar_gravatar {
  margin-bottom: 20px;
}

.sidebar_tags_title {
  position: relative;
  left: 5px;
  margin: 0 0 15px 30px;
  padding: 0 5px 5px 0;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.sidebar_tags {
  margin-bottom: 20px;
  color: #00009c;
  line-height: 2;
}
.sidebar_tags li {
  cursor: pointer;
}
.sidebar_tags li:hover {
  color: #cc0000;
}
.sidebar_tags .ui-selected {
  display: inline;
  position: relative;
  left: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  background: #00009c;
}

.sidebar_bookmarklets_title {
  position: relative;
  left: 5px;
  margin: 0 0 15px 30px;
  padding: 0 5px 5px 0;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.sidebar_bookmarklets {
  line-height: 2;
}
.sidebar_bookmarklets span {
  padding-right: 5px;
  font-size: 1.1em;
}

/* Footer
 *----------------------------------------------------------------------------- */
#footer {
  width: 960px;
  margin: -30px auto 0;
  padding: 5px;
  height: 30px;
  /*background: #BFF08E; */
  text-align: center;
}
#footer ul {
  margin-left: 286px;
}
#footer li {
  float: left;
  margin-right: 20px;
  font-size: 15px;
}
#footer a {
  color: #cc0000;
}
#footer a:hover {
  color: #c01da3;
}

/* --- About left sidebar --- */
.about_left dt {
  margin-bottom: 10px;
  color: #cc0000;
  font-size: 14px;
}
.about_left dd {
  margin-bottom: 20px;
  font-size: 13px;
}

.ajax_bar_div {
  height: 100px;
  background: url(/s/img/loader-bar.gif) 50% 50% no-repeat;
}


.messages {
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.messages.success {
  background-color: #00a700;
}
.messages.info {
  background-color: #b789e2;
}
.messages.warning {
  background-color: #ffa700;
}
.messages.error {
  background-color: red;
}


label {
  font-size: 15px;
  color: #666666;
}
label:hover {
  color: #cc0000;
}

input[type="text"], input[type="password"] {
  border: 1px solid #cccccc;
  width: 400px;
  height: 1.6em;
  font-size: 16px;
}
input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #cc0000;
}

textarea {
  border: 1px solid #cccccc;
  width: 400px;
  height: 60px;
}
textarea:focus {
  border: 1px solid #cc0000;
}

span.helptext {
  color: gray;
  font-size: 11px;
}
span.required {
  color: #cc0000;
  font-size: 1.4em;
  padding-left: 5px;
}

.errorlist {
  width: 400px;
  background-color: red;
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.errorlist li {
  padding: 3px;
}

.field_wrapper {
  margin-bottom: 10px;
}


.popup {
  border: 1px solid #666666;
  background: white;
  padding: 15px;
}
.popup .popup_title {
  width: 400px;
  margin: 0 0 15px 0;
  color: #660000;
  font-size: 16px;
}
